@model Gazdik.Models.GazdiAdatok

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GazdiAdatok</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GazdiId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GazdiId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nev)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nev)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefonszam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefonszam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
